# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
from google.colab import drive
drive.mount('/mntDrive')

Mounted at /mntDrive

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [4]:
/mntDrive/MyDrive/_Data Science/HR Analytics (Solo)/input

SyntaxError: ignored

In [20]:
#CodeSection3
train = pd.read_csv('/mntDrive/MyDrive/_Data Science/3 HR Analytics (Solo)/input/train.csv')
test = pd.read_csv('/mntDrive/MyDrive/_Data Science/3 HR Analytics (Solo)/input/test.csv')

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [21]:
#CodeSection4
train.head()

   enrollee_id      city  ...  training_hours target
0        23798  city_149  ...             106      0
1        29166   city_83  ...              69      0
2           46   city_16  ...               4      0
3        18527   city_64  ...              26      0
4        21751  city_100  ...              88      1

[5 rows x 14 columns]

In [22]:
#CodeSection5
train.describe(include="all")

         enrollee_id      city  ...  training_hours        target
count   18359.000000     18359  ...    18359.000000  18359.000000
unique           NaN       123  ...             NaN           NaN
top              NaN  city_103  ...             NaN           NaN
freq             NaN      4358  ...             NaN           NaN
mean    16729.360096       NaN  ...       65.899014      0.132088
std      9643.749725       NaN  ...       60.885300      0.338595
min         1.000000       NaN  ...        1.000000      0.000000
25%      8378.500000       NaN  ...       23.000000      0.000000
50%     16706.000000       NaN  ...       47.000000      0.000000
75%     25148.500000       NaN  ...       89.000000      0.000000
max     33380.000000       NaN  ...      336.000000      1.000000

[11 rows x 14 columns]

In [23]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable
<Write your code here>

SyntaxError: ignored

In [ ]:
#CodeSection7
train.info()

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [24]:
#CodeSection8
test.head()

   enrollee_id      city  ...  last_new_job training_hours
0        16548   city_33  ...           NaN             15
1        12036   city_28  ...             1             94
2        11061  city_103  ...             1             17
3         5032  city_104  ...             2             76
4        17599   city_77  ...             2             65

[5 rows x 13 columns]

In [25]:
#CodeSection9
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15021 non-null  int64
 1   city                    15021 non-null  object
 2   city_development_index  15021 non-null  float64
 3   gender                  11633 non-null  object
 4   relevent_experience     15021 non-null  object
 5   enrolled_university     14742 non-null  object
 6   education_level         14626 non-null  object
 7   major_discipline        12628 non-null  object
 8   experience              14977 non-null  object
 9   company_size            10970 non-null  object
 10  company_type            10691 non-null  object
 11  last_new_job            14717 non-null  object
 12  training_hours          15021 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.5+ MB

In [26]:
#CodeSection10
test.describe(include="all")

         enrollee_id      city  ...  last_new_job training_hours
count   15021.000000     15021  ...         14717   15021.000000
unique           NaN       123  ...             6            NaN
top              NaN  city_103  ...             1            NaN
freq             NaN      3494  ...          6246            NaN
mean    16643.004327       NaN  ...           NaN      65.158179
std      9626.895233       NaN  ...           NaN      59.719211
min         6.000000       NaN  ...           NaN       1.000000
25%      8316.000000       NaN  ...           NaN      23.000000
50%     16664.000000       NaN  ...           NaN      47.000000
75%     24908.000000       NaN  ...           NaN      89.000000
max     33378.000000       NaN  ...           NaN     336.000000

[11 rows x 13 columns]

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [27]:
#CodeSection11
# We will use "Married" for this example
# You can select any other variable of your choice
train.groupby('relevent_experience').sum()

                         enrollee_id  ...  target
relevent_experience                   ...
Has relevent experience    224798657  ...    1594
No relevent experience      82335665  ...     831

[2 rows x 4 columns]

In [28]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['relevent_experience'].value_counts()

Has relevent experience    13596
No relevent experience      4763
Name: relevent_experience, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [29]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of Has relevant experience happening: {1594/13596:0.1%}")
print(f" Probability of No relevant experience happening : {831/4763:0.1%}")

 Probability of Has relevant experience happening: 11.7%
 Probability of No relevant experience happening : 17.4%

### Observation
- Married Applicants have a higher probability of getting a Loan
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [30]:
#CodeSection14
train['Prediction'] = train['relevent_experience'].apply(lambda x : 0 if x == ' ' else 1)

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [31]:
#CodeSection15
train.groupby('relevent_experience').sum()

                         enrollee_id  ...  Prediction
relevent_experience                   ...
Has relevent experience    224798657  ...       13596
No relevent experience      82335665  ...           0

[2 rows x 5 columns]

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [32]:
#CodeSection16
from sklearn.metrics import accuracy_score

In [33]:
#CodeSection17
y_actual = train['target']
y_pred = train['Prediction']

In [34]:
#CodeSection18
print(f" Train Accuracy : {accuracy_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 30.1%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [35]:
#CodeSection19
test['Target_prediction'] = test['relevent_experience'].apply(lambda x : 0 if x == 'No relevent experience' else 1)

In [37]:
#CodeSection20

test.groupby('relevent_experience').sum()

                         enrollee_id  ...  Target_prediction
relevent_experience                   ...
Has relevent experience    182609600  ...              11102
No relevent experience      67384968  ...                  0

[2 rows x 4 columns]

In [ ]:
#CodeSection21
# We will use (Y/N) to match it to the Competition Submission Data

*Use **value_counts()** to check your prediction split*

In [41]:
#CodeSection21
test['Target_prediction'].value_counts()

1    11102
0     3919
Name: Target_prediction, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [38]:
#CodeSection22
sample_submission = pd.read_csv('/mntDrive/MyDrive/_Data Science/3 HR Analytics (Solo)/input/sample_submission.csv')
sample_submission.head()

   enrollee_id  target
0        16548       0
1        12036       0
2        11061       0
3         5032       0
4        17599       0

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [42]:
#CodeSection23
submission = pd.DataFrame({
    'enrollee_id' : test['enrollee_id']   ,
    'target' : test['Target_prediction']
})

### Export Submission File
- Export to output folder

In [43]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('/mntDrive/MyDrive/_Data Science/3 HR Analytics (Solo)/output/O1_IF_THEN.csv',index=False)

In [ ]:
# LB Accuracy : <Write Leaderboard Score here>